@media screen and (max-width:300px) {
    #logo {
        height: 1.75rem;
    }

    .title {
        font-size: 0.75rem;

    }


    h6 {
        font-size: 0.50rem;

    }

    .navbar-toggler-icon {
        height: 1.75rem;
    }


    form {

        width: 95vw;
        font-size: small;
        padding-right: 10%;
        padding-left: 3rem;
        background-color: white;
        margin: auto;
        overflow-y: scroll;
    }

    form input,
    textarea {
        margin-left: 10%;
        margin-right: 1%;

    }

    .grievance-head {
        font-size: small;
    }
    .footer{
        position: absolute;
        bottom: 1rem;
    }
    .copyright{
        width: 100vw;
        position: absolute;
        bottom: 0;
    }

}

@media screen and (min-width: 301px) {
    form {
        width: 96vw;
        background-color: white;
        margin-left: 23%;
        font-size: medium;
    }

    form input,
    textarea {

        margin-left: 1%;
    }

    form .Name {
        margin-left: 5%;
    }

    .grievance-head {
        font-size: 0.92rem;

    }

}

@media screen and (min-width: 850px) {
    .complaint{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
        width: 830px;
        font-size: medium;
        margin: auto;
        margin-top: 5%;
        padding: 2%;
    }
    .grievance-head{
        width: 830px;
        padding-bottom: 1rem;
    }
}

.grievance-head {


    padding: 0.4rem;

    height: 3.5rem;
    color: white;
    background-color: black;
    margin: 0.4rem;
    margin-bottom: -1.3rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
}

#logo{
    height: 5em;
    filter: invert(100%);
}

.about {
    width: 50%;
}

.about h3 {
    font-size: 100%;
}

.contact h3 {
    font-size: 100%;
}

.footer hr {
    border-top: 1px solid;
}

.footer {
    margin-top: 5%;
    background-color: black;
    display: flex;
    padding: 5%;
    justify-content: space-between;
    color: white;

}

.copyright {
    background-color: black;
    color: white;
    border-top: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: center;
   

}

.navbar-toggler {
    padding: 0.2rem;
    font-size: .9rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.complaint h2 {
    padding: 1% 20%;
    font-size: 140%;
    width: 100%;
    text-align: center;
}
.complaint{
    position: relative;
}
.complaint form {
    border: 1px solid black;
    padding: 1%;


}

form div {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-right: 0;
    padding-left: 0;
}

form input,
textarea {
    width: 60%;
    outline: none;
}

form button {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 35%;
    color: white;
    background-color: black;
}

#myForm {
    outline: none;
    border: none;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    box-shadow: 1px 1px 4px rgb(126, 118, 118);
    padding-top: 1rem;
    margin: 2%;
    padding-left: 0.3rem;

}

.btn {
    justify-content: center;
    align-items: center;
    display: flex;
}

.button:hover {
    background-color: rgb(45, 41, 41);
}