body {
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease;
    background-color: #e5e5e5;
    transition: all 1s ease;

}

#map {
    width: 45vw;
    height: 75vh;
    border-radius: 8px;
}

#logo {
    height: 5em;
    filter: invert(100%);
}




@media screen and (max-width: 600px) {
    #map {
        width: min(70vw, 70vh);
        height: min(50vh, 80vw);
    }

    #logo {
        height: 3rem;
    }

    .title {
        font-size: 1rem;

    }

    h6 {
        font-size: 0.50rem;

    }

    .left {
        margin-top: 1.5rem;
    }

    .card {
        min-width: 80vw;
    }

    .coolinput {
        min-width: 60vw;
    }

    .dropdown-menu {
        flex-direction: column; 
    }

}

@media screen and (max-width: 300px) {
    #logo {
        height: 1.75rem;
    }

    .title {
        font-size: 0.75rem;

    }

    h6 {
        font-size: 0.50rem;

    }

    .navbar-toggler-icon {
        height: 1.75rem;
    }

    .card {
        min-width: 80vw;
    }

    .rightcont {
        padding: 0rem;
    }

    .dropdown-menu{
        flex-direction: column;
        gap: 0.5rem;
    }

}

.main {

    padding: 0rem 2rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 80vh;
}

.card {
    padding: 0.75rem 1rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-width: 22vw;
}





.rightcont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;


}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;
    gap: 1rem;
    height: 72vh;
    overflow-y: scroll;
    padding: 1rem 1.5rem;
}

.coolinput button {
    border: none;
    background: none;
    color: #8b8ba7;
}

.coolinput {
    --timing: 0.3s;
    --width-of-input: 100%;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 20px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
    width: 28vw;
    align-self: center;


}

.dropdown {
    position: relative;
    
}
.dropdown-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto; 
    height: 100%;
    padding: 0.5em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-toggle:hover {
    background-color: rgb(36, 35, 35);
}


.dropdown-menu {
    display: none;
    position:absolute;
    background-color: white;
    z-index: 1000;
    min-width: 9rem;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5em;
    top: 100%;
    left: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    
}
.dropdown:hover .dropdown-menu{
    display:block;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 0.5em 1em; */
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.dropdown select,
.dropdown input {
    height: var(--height-of-input);
    border: 1px solid #d3d3d3;
    border-radius: 0.5rem;
    padding: 0.2em;
    width: 100%;
    background: transparent;
}
.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-item:active {
    background-color: #e2e6ea;
}

.dropdown input[type="number"] {
    width: 100%; 
}



input#searchInput {
    flex: 1;
}

.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

.coolinput:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

input:focus {
    outline: none;
}

.footer {
    margin-top: 2rem;
    background-color: rgb(28, 28, 28);
    display: flex;
    padding: 5%;
    justify-content: space-between;
    color: white;

}

.footer hr {
    border-top: 1px solid;
}

.copyright {
    background-color: rgb(28, 28, 28);
    color: white;
    border-top: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: center;

}

button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

button:-webkit-details-marker {
    display: none;
}

::-webkit-scrollbar-track {

    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border: none solid #555555;
}

.view-more-btn {
    border: 0.5px solid #d3d3d3;
    border-radius: 2rem;

}